.inputs {
  width: 100%;
  
  .input-block {
    position: relative;

    input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: flex;
      align-items: flex-end;
      padding: 0 1.3em;
      height: 4.8em;
      width: 100%;
      border: 1px solid $color-line-in-white;
      background-color: $color-input-background;
      color: $color-primary-darker;
      font-size: .9em;
      outline: none;
      transition: .2s;
      padding-top: 1em;

      &::-ms-reveal {
        display: none;
      }
    }

    &::before {
      height: 0;
      width: 2px;
      content: '';
      background: $color-primary-light;
      position: absolute;
      top: .6em;
      bottom: .6em;
      left: 0;
      transition: .2s;
    }

    &:focus-within::before {
      height: calc(100% - 1.2em);
    }

    &::after {
      position: absolute;
      content: attr(data-placeholder);
      left: 1.8em;
      top: 1.8em;
      pointer-events: none;
      z-index: 1;
      color: $color-text-complement;
      transition: .2s;
      font-size: .9em;
    }

    &.not-empty::after {
      transform: translateY(-1em);
      font-size: .7em;
    }

    &:focus-within::after {
      transform: translateY(-1em);
      font-size: .7em;
    }

    .first {
      border-bottom: none;
      border-radius: .6em .6em 0 0;
    }
  
    .second {
      border-radius: 0 0 .6em .6em;
    }

    .show-password {
      background: none;
      border: none;
      position: absolute;
      right: 0;
      top: -0.35em;
      width: 4.3em;
      z-index: 2;
    }
  }
}

.btn {
  padding: 1em;
  width: 100%;
  border-radius: .6em;
  border: none;
  cursor: pointer;

  &.green {
    background-color: $color-secundary;
    color: $color-button-text;
    transition: background-color .2s;
    &:hover {
      background-color: $color-secundary-dark;
    }
  }
  
  &:disabled {
    color: $color-text-complement;
    background-color: #DCDCE5;
    cursor: default;

    &:hover {
      background-color: #DCDCE5;
    }
  }
}
